/*リセットCSS*/
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
  line-height: 1.7;
  background-color: #ffffff;
}

.header {
  text-align: center;
  height: 200px;
}
.header_logo {
  font-size: 40px;
  padding: 30px 0px 20px 0px;
}
.header_logo a {
  text-decoration: none;
  color: #000000;
}
.header_logo a:hover {
  color: #ff0000;
  opacity: 0.5;
}
.header_text {
  font-size: 16px;
}
.container {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: flex;
}
.main {
  display: block;
  width: 780px;
  margin-right: 20px;
}
.main a {
  text-decoration: none;
  color: #000000;
}
.main a:hover {
  color: #ff0000;
  opacity: 0.5;
}
.caption {
  font-size: 26px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.caption_mini {
  font-size: 20px;
}
b {
  color: #ff0000;
}
.thumbnail {
  width: 120px;
  height: 120px;
}
.image {
  width: auto;
  height: auto;
}
.side {
  width: 300px;
}
.side_menu {
  position: sticky;
  margin-bottom: 0;
  top: 10px;
  z-index: 1;
}
.side_menu a {
  text-decoration: none;
  color: #000000;
}
.side_menu a:hover {
  color: #ff0000;
  opacity: 0.5;
}
ul {
  list-style-type: none;
}
.profile {
  margin-top: 10px;
  margin-bottom: 10px;
}
.profile_image {
  text-align: center;
}
.profile_thumbnail {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.about {
  cursor: pointer;
}
.about:hover {
  color: #ff0000;
  opacity: 0.5;
}
input {
  display: none;
}
.hidden_menu {
  display: none;
  padding-left: 1em;
}
#menu_about:checked + .hidden_menu {
  display: block;
}
.footer {
  height: 100px;
  text-align: center;
}
.copyright {
  padding-top: 60px;
  font-size: 20px;
}

@media screen and (max-width:1125px) {
  .container {
    width: auto;
    display: block;
  }
  .main {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .caption {
    padding-left: 0px;
  }
  .caption_mini {
    padding-left: 0px;
  }
  p:not(.header_text) {
    padding-left: 0px;
  }
  .thumbnail {
    width: 100px;
    height: 100px;
  }
  .side {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .profile_image {
    text-align: center;
  }
  .profile_thumbnail {
    width: 120px;
    height: 120px;
  }
  .twitter-timeline {
    display: none;
  }
}
