@font-face {
  font-family: "HuiFont29";
  src: url(../font/HuiFont29.woff) format("woff");
}

* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "HuiFont29",sans-serif;
  line-height: 1.7;
}

.background {
  background-image: url(../img/back.jpg);
}
.contents {
  width: 720px;
  height: 720px;
  border-radius: 50%;
  border: 6px dotted rgba(0, 0, 0, 0.5);
  scrollbar-width: none;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}
.header {
  text-align: center;
}
.header-menu{
  display: flex;
}
.main{
  text-align: center;
}
.footer {
  text-align: center;
}
