@font-face {
  font-family: "HuiFont29";
  src: url(../font/HuiFont29.woff) format("woff");
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "HuiFont29",sans-serif;
  line-height: 1.7;
}

.background {
  background-image: url(../img/back.jpg);
}

.contents {
  width: 720px;
  height: 720px;
  border-radius: 50%;
  border: 6px dotted rgba(0, 0, 0, 0.5);
  scrollbar-width: none;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

.header {
  text-align: center;
  height: 108px;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.header-logo {
  font-size: 36px;
  text-align: center;
  margin-bottom: 6px;
}

ul {
  position: relative;
  left: 23%;
  list-style-type: none;
}

.header-menu{
  font-size: 24px;
  float: left;
  padding: 6px;
  height: 24px;
}

.main{
  text-align: center;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

a:not(.img) {
  text-decoration: none;
  color: #000000;
}

a:hover:not(.img) {
  color: #ff0000;
  opacity: 0.5;
}

.popup-wrap {
  float: left;
}

.popup-wrap input {
  display: none;
}

.popup-overlay {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.5s, transform 0s 0.5s;
  transform: scale(0);
}

.popup-trigger {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.popup-content {
  position: relative;
  align-self: center;
  width: 90%;
  max-width: 500px;
  padding: 30px 30px 15px;
  box-sizing: border-box;
  background: #fff;
  line-height: 1.4em;
  transition: 0.5s;
}

.close-btn {
  position: absolute;
  top: 14px;
  right: 16px;
  font-size: 30px;
  cursor: pointer;
}

.close-btn:hover {
  color: #ff0000;
  opacity: 0.5;
}

.popup-wrap input:checked ~ .popup-overlay {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s;
}

.open-btn {
  position: relative;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  justify-content: left;
  align-items: center;
  width: 120px;
  height: 120px;
  margin:10px auto;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s ease;
  opacity: 0.5;

}

.open-btn:hover{
    transition: .3s ease;
    opacity: 1.0;
}

.img {
  text-decoration: none;
  opacity: 0.5;
}

.img:hover {
  opacity: 1.0;
}

b {
  color: #ff0000;
}

.image {
  text-align: center;
}

img:not(.popup-image) {
  border-radius: 50%;
}

.caption {
  font-size: 24px;
  text-align: center;
}

.footer {
  height: 200px;
  background-color: #000000;
  color: #ffffff;
}

.footer-contact {
  padding-top: 20px;
  list-style-type: none;
  height: 100px;
  text-align: center;
}

.copyright {
  font-size: 14px;
  text-align: center;
}
